<!DOCTYPE html>
<html>
  <head>
    <!--<link rel="stylesheet"-->
    <title>Klosston</title>
  </head>

  <body>
    <h1>Index</h1>
    <p>I love programming</p>
    <img src="https://i.mdel.net/i/db/2016/6/541836/541836-500w.jpg"
  </body>
</html>