<!DOCTYPE html>
<html>
  <head>
    <title>Karlie's Bio</title>
  </head>
   
   
<body>
    <h1>Karlie's Bio/h1>
    <p>She grew up in St.Louis and is an international super model and one of the nicest people you'd ever meet! </p>
    <img src="https://i.mdel.net/i/db/2016/6/541836/541836-500w.jpg"
  </body>
</html
